$leftBackgrounds: #100f3a;
$bigTitles: #100f3a;
$jobDates : #8583e1;
$menuHover : #8583e1;
$active : #8583e1;
$smallTitles : #8583e1; 
$globalText : #838293;
$mainBackground : #F5F0F0;

// Constantes

$globalWidth : 95vw;
$globalHeight : 95vh;
$headerHeight : 90px;
$leftWidth : 30%;
$sectionTitleHeight: 100px;

// breakpoints

$small : 576px;
$medium : 992px;
$large: 1200px;